<div class="container mx-auto mt-4 max-w-4xl">
	<h3 class="mb-4 font-medium text-2xl">It's time to share your greatest gaming moments!</h3>

	<p>
		Are you ready to show the world your greatest gaming moments? At ShareTheMoment, we make it easy for gamers to capture and
		share their best in-game clips with friends and fans. We provide a platform for players of all ages and abilities to show
		off their skills and become internet-famous for their amazing gaming moments. ShareTheMoment offers the latest video
		streaming technology, so you can easily upload your clips and have them featured on the website in no time. Plus, our
		custom algorithms automatically create highlight reels from your clips, so everybody can enjoy your achievements. So, if
		you're a budding gaming star or just like playing games with friends, ShareTheMoment is the place for you. Join today and
		start showcasing your gaming greatness!
	</p>
</div>
