<!-- Header -->
<header
	id="header"
	class="bg-secondary"
>
	<nav class="container mx-auto flex justify-start items-center py-8">
		<!-- App Name -->
		<a
			class="text-3xl text-indigo-400 font-bold mr-4"
			routerLink="/"
			>VideoConquer</a
		>

		<div class="flex flex-grow justify-between">
			<!-- Primary Navigation -->
			<ul class="flex flex-row mt-1">
				<!-- Navigation Links -->

				<li *ngIf="auth.isAuthenticated$ | async">
					<a
						class="px-2"
						routerLink="/manage"
						routerLinkActive="font-bold text-indigo-400 mb-6"
						[routerLinkActiveOptions]="{ exact: true }"
						>Manage</a
					>
				</li>
				<li *ngIf="auth.isAuthenticated$ | async">
					<a
						class="px-2"
						routerLink="/upload"
						routerLinkActive="font-bold text-indigo-400 mb-6"
						[routerLinkActiveOptions]="{ exact: true }"
						>Upload</a
					>
				</li>
				<li>
					<a
						class="px-2"
						routerLink="/about"
						routerLinkActive="font-bold text-indigo-400"
						>About</a
					>
				</li>
			</ul>
			<ul class="flex flex-row-reverse mt-1">
				<li *ngIf="!(auth.isAuthenticated$ | async); else logOut">
					<a
						class="px-2"
						href="#"
						(click)="openModal($event)"
					>
						Login / Register
					</a>
				</li>
				<ng-template #logOut>
					<li>
						<a
							class="px-2"
							(click)="auth.logout($event)"
							href=""
							>Log out</a
						>
					</li>
				</ng-template>
			</ul>
		</div>
	</nav>
</header>
